* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
}

.left {
    left: 0;
    background-image: url('img/grass.jpg');
    background-size: cover;
    background-position: center;

    
}

.right {
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.toped {
    position: absolute;
    top: 10%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    width: 80%;

}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%; /* Adjust based on your layout */
}

.logo {
    width: 100px; /* Adjust size as needed */
    margin-bottom: 20px;
}

.signup-form h2 {
    margin-top: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

.form-group:last-child {
    margin-right: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
}

button:hover {
    opacity: 0.8;
}

